<div x-data="alpineInstance()" x-init="fecthData()">
  <div
    x-show.transition.in.duration.500ms.origin.top.center.opacity.out.duration.200ms.origin.bottom.center.opacity="isDialogOpen"
    @click="isDialogOpen = false"
    style="
      background: rgba(0, 0, 0, 0.5);
      width: 100vw;
      height: 100%;
      position: fixed;
      align-items: center;
      justify-content: center;
      z-index: 1;
    "
  ></div>
  <template x-if="isDialogOpen">
    <div>
      <button
        id="leftarrow"
        x-on:click="openPreviousProductDetail(productDetail)"
      >
        <i class="fas fa-chevron-left"></i>
      </button>

      <button id="rightarrow" x-on:click="openNextProductDetail(productDetail)">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </template>
  <div class="myheader">
    <div class="mylogo">
      <a href="/">
        <img
          src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/Dailycious-Logo-DarkGreen_180x.png?v=1616609191"
          alt="logo"
        />
      </a>
    </div>
    <div class="myheader-2">
      <div style="color: #111409"><a href="/pages/plan">Plan</a></div>
      <div class="header-arrow-ok"><i class="fas fa-chevron-right"></i></div>

      <div style="color: #111409"><a href="/pages/day">Day</a></div>
      <div class="header-arrow-ok"><i class="fas fa-chevron-right"></i></div>
      <div style="font-weight: bolder">Meals</div>
      <div class="header-arrow-nok"><i class="fas fa-chevron-right"></i></div>
      <div>Cart</div>
    </div>
    <div @click="show_support()" style="color: #111409" class="support">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      Customer support
    </div>
  </div>

  <div class="myheader-mob">
    <div>
      <a href="/pages/day"></a
      ><i style="position: unset" class="fas fa-chevron-left"></i>
    </div>
    <div style="color: #111409">Choose <span x-text="plan"></span> meals</div>
    <div style="color: #111409">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>
  </div>
  <!-- begin: bundle -->
  <div class="my_flex" :class="{ 'menu-dopweb-blur': isDialogOpen }">
    <template x-for="product in products" :key="product.id">
      <div class="small_img" @click="openProductDetail(product)">
        <img
          :class="{ 'menu-dopweb-blur': isDialogOpen }"
          class="imgbundle imgcdn"
          style="border-radius: 5px"
          :src="product.images[0].src.replace('.jpg', '_1080x.jpg')"
          :alt="product.title"
        />

        <div class="myflex_mobile">
          <div class="myflex_mobile2">
            <div class="my_subtitle" x-html="product.body_html"></div>
            <div>
              <button
                @click.stop
                x-on:click="add_to_cart(product, $event);"
                class="add_button"
              >
                <i style="font-size: 10px" class="fas fa-plus"></i>
                <i style="font-size: 10px" class="fas fa-check"></i>
                <span class="text">Add</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <!-- end: bundle -->
  <!-- begin: popup -->
  <template x-if="isDialogOpen">
    <div
      x-show.transition.in.duration.500ms.origin.top.center.opacity.out.duration.200ms.origin.bottom.center.opacity="isDialogOpen"
      class="popup"
    >
      <div x-html="productDetail.body_html"></div>
      <div class="imgdetail">
        <img
          class="imgdetailMini"
          :src="productDetail.images[0].src.replace('.jpg', '_1080x.jpg')"
          :alt="productDetail.title"
        />
        <img
          class="imgdetailMini"
          :src="productDetail.images[1].src.replace('.jpg', '_1080x.jpg')"
          :alt="productDetail.title"
        />
        <img
          class="imgdetailMini"
          :src="productDetail.images[2].src.replace('.jpg', '_1080x.jpg')"
          :alt="productDetail.title"
        />
      </div>
    </div>
  </template>
  <!-- end: popup -->
  <!-- begin: cart -->
  <div x-show="show" class="cart" :class="{ 'menu-dopweb-blur': isDialogOpen }">
    <div class="dateSection">
      My delivery for:
      <span style="font-weight: bolder">
        <span x-text="date.day"></span>,
        <span x-text="date.month"></span>
        <span x-text="date.date"></span>
      </span>
    </div>
    <template x-for="product in cart" :key="product.id">
      <div class="small_img2 animated fadeInLeft">
        <div class="myimg">
          <img
            class="imgcdn2"
            style="border-radius: 5px"
            :src="product.images[0].src.replace('.jpg', '_1080x.jpg')"
            :alt="product.title"
          />
        </div>

        <div class="my_title2" x-text="product.title"></div>
        <div class="buttons">
          <button x-on:click="add_to_cart(product);" class="add_button2">
            <i class="fas fa-plus"></i>
          </button>

          <button
            style="color: grey"
            x-on:click="remove_from_cart(product);"
            class="add_button2"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
    </template>

    <div class="info" :class="{'empty_meal_start': count > 0}">
      <h2>Get started by adding your meals</h2>
      <p>
        Experience the best ready-to-eat kosher gourmet meals, delivered fresh
        straight to your door.
      </p>

      <p>
        Personalize your gourmet box my choosing up to
        <span x-text="plan"></span> meals from our menu for $119.
      </p>

      <p>
        The meals of your choice will be shipped the following Monday, Tuesday
        or Wednesday* , and delivered to your door two days after.
      </p>

      <p style="font-style: italic">*Los Angeles County only.</p>
    </div>

    <div
      class="empty_meal"
      :class="{ 'menu-dopweb-blur': isDialogOpen , 'empty_meal_start': count == 0}"
    >
      <template x-for="index in [1,2,3,4,5,6,7,8,9,10,11,12] " :key="index">
        <div>
          <template x-if="index <= plan">
            <div x-show="cart.length < index" class="meal">
              <div class="circle"></div>
              MEAL <span x-text="index"></span>
            </div>
          </template>
        </div>
      </template>
    </div>
  </div>
  <!-- end: cart -->

  <!-- begin: cart mobile-->

  <div
    x-show.transition.duration.300ms.origin.bottom.scale.30="show2"
    @click.away="show2 = false"
    class="cart2"
    :class="{ 'menu-dopweb-blur': isDialogOpen }"
  >
    <button
      @click="show2 = !show2"
      :aria-expanded="show2 ? 'true' : 'false'"
      :class="{ 'active': show2 }"
      class="arrow arrow2"
    >
      <div class="scroll-arrow scroll-arrow2"></div>
      <div class="scroll-arrow scroll-arrow2"></div>
    </button>
    <div class="all_meals">
      <div class="dateSection">
        My delivery for:
        <span style="font-weight: bolder">
          <span x-text="date.day"></span>,
          <span x-text="date.month"></span>
          <span x-text="date.date"></span>
        </span>
      </div>
      <template class="prod" x-for="product in cart" :key="product.id">
        <div class="small_img2">
          <div class="myimg">
            <img
              class="imgcdn2"
              style="border-radius: 5px"
              :src="product.images[0].src.replace('.jpg', '_1080x.jpg')"
              :alt="product.title"
            />
          </div>
          <div class="my_title2" x-text="product.title"></div>
          <div class="buttons">
            <button x-on:click="add_to_cart(product);" class="add_button2">
              <i class="fas fa-plus"></i>
            </button>

            <button
              style="color: grey"
              x-on:click="remove_from_cart(product);"
              class="add_button2"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </template>
      <div
        class="empty_meal duration-1000"
        :class="{ 'menu-dopweb-blur': isDialogOpen }"
      >
        <template x-for="index in [1,2,3,4,5,6,7,8,9,10,11,12] " :key="index">
          <div>
            <template x-if="index <= plan">
              <div x-show="cart.length < index" class="meal">
                <div class="circle"></div>
                MEAL <span x-text="index"></span>
              </div>
            </template>
          </div>
        </template>
      </div>
    </div>
  </div>

  <!-- end: cart mobile-->

  <div class="next" :class="{ 'menu-dopweb-blur': isDialogOpen }">
    <button
      @click="show2 = !show2"
      :aria-expanded="show2 ? 'true' : 'false'"
      :class="{ 'count_meal_max': plan == 12 || plan == 10 ,'active': show2 , 'menu-dopweb-blur': isDialogOpen}"
      class="count_meal"
    >
      <div class="arrow" :class="{ 'arrowOff': show2 }">
        <div class="scroll-arrow"></div>
        <div class="scroll-arrow"></div>
      </div>
      <p
        style="line-height: 8vh; color: red"
        x-show.transition="cart.length < plan || cart.length > plan"
        x-text="count"
      ></p>
      <p
        style="line-height: 8vh; color: #084a00"
        x-show.transition="cart.length == plan"
        x-text="count"
      ></p>
      <div style="line-height: 8vh">/<span x-text="plan"></span></div>
    </button>
    <div class="border_count" :class="{ 'menu-dopweb-blur': isDialogOpen }">
      <div class="count_mealbis">
        <img
          class="img_cart"
          src="https://cdn.shopify.com/s/files/1/0534/6161/4774/files/cart.svg?v=1613682186"
          alt="cart"
        />
        <p
          style="line-height: 2vh; color: red"
          x-show.transition="cart.length < plan || cart.length > plan"
          x-text="count"
        ></p>
        <p
          style="line-height: 2vh; color: #084a00"
          x-show.transition="cart.length == plan"
          x-text="count"
        ></p>
        <div style="line-height: 2vh">/<span x-text="plan"></span></div>
      </div>
    </div>
    <template x-if="plan==4">
      <button
        :disabled="cart.length !== 4"
        x-on:click="send_to_cart(4)"
        :class="{'gradient1': plan-count === 1, 'gradient3': plan-count == 2,  'gradient5': plan-count == 3,}"
        class="next_button"
      >
        <div x-show="cart.length < plan" class="count_meal2">
          <div class="messageCart">Add</div>
          <div class="count" x-text="plan-count"></div>
          <div>meal to continu</div>
        </div>
        <div x-show="cart.length == plan" class="messageCart">
          All set! Click Here
        </div>
        <div x-show="cart.length > plan" class="count_meal3">
          <div class="messageCart">Remove</div>
          <div class="count" x-text="Math.abs(plan-count)"></div>
          <div>meals to continu</div>
        </div>
      </button>
    </template>
    <template x-if="plan==6">
      <button
        :disabled="cart.length !== 6"
        x-on:click="send_to_cart(6)"
        :class="{'gradient1': plan-count === 1, 'gradient2': plan-count == 2,  'gradient3': plan-count == 3, 'gradient4': plan-count == 4,  'gradient5': plan-count == 5}"
        class="next_button"
      >
        <div x-show="cart.length < plan" class="count_meal2">
          <div class="messageCart">Add</div>
          <div class="count" x-text="plan-count"></div>
          <div>meal to continu</div>
        </div>
        <div x-show="cart.length == plan" class="messageCart">
          All set! Click Here
        </div>
        <div x-show="cart.length > plan" class="count_meal3">
          <div class="messageCart">Remove</div>
          <div class="count" x-text="Math.abs(plan-count)"></div>
          <div>meals to continu</div>
        </div>
      </button>
    </template>
    <template x-if="plan==10">
      <button
        :disabled="cart.length !== 10"
        x-on:click="send_to_cart(10)"
        :class="{'gradient1': plan-count === 1, 'gradient2': plan-count == 3||plan-count == 2,  'gradient3': plan-count == 5||plan-count == 4, 'gradient4': plan-count == 7||plan-count == 6,  'gradient5': plan-count == 9 ||plan-count == 8 }"
        class="next_button"
      >
        <div x-show="cart.length < plan" class="count_meal2">
          <div class="messageCart">Add</div>
          <div class="count" x-text="plan-count"></div>
          <div>meal to continu</div>
        </div>
        <div x-show="cart.length == plan" class="messageCart">
          All set! Click Here
        </div>
        <div x-show="cart.length > plan" class="count_meal3">
          <div class="messageCart">Remove</div>
          <div class="count" x-text="Math.abs(plan-count)"></div>
          <div>meals to continu</div>
        </div>
      </button>
    </template>
    <template x-if="plan==12">
      <button
        :disabled="cart.length !== 12"
        x-on:click="send_to_cart(12)"
        :class="{'gradient1': plan-count === 1||plan-count == 3||plan-count == 2, 'gradient2': plan-count == 4||plan-count == 5,  'gradient3': plan-count == 7||plan-count == 6, 'gradient4': plan-count == 9||plan-count == 8,  'gradient5': plan-count == 11 ||plan-count == 10 }"
        class="next_button"
      >
        <div x-show="cart.length < plan" class="count_meal2">
          <div class="messageCart">Add</div>
          <div class="count" x-text="plan-count"></div>
          <div>meal to continu</div>
        </div>
        <div x-show="cart.length == plan" class="messageCart">
          All set! Click Here
        </div>
        <div x-show="cart.length > plan" class="count_meal3">
          <div class="messageCart">Remove</div>
          <div class="count" x-text="Math.abs(plan-count)"></div>
          <div>meals to continu</div>
        </div>
      </button>
    </template>
  </div>
</div>
<style>
  .support {
    cursor: pointer;
  }
  /*remove minimal template css*/
  .wrapper {
    max-width: unset;
    margin: unset;
    padding: unset;
  }
  #gorgias-chat-container {
    display: none;
  }

  .myheader-mob {
    display: none;
  }

  .header-arrow-ok {
    padding-left: 15px;
    padding-right: 15px;
    color: #111409;
    font-size: 12px;
  }

  .header-arrow-nok {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    color: #8080807d;
  }

  .mylogo {
    width: 15%;
    position: relative;
    top: 7px;
    height: 35px;
  }

  .myheader {
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    line-height: 44px;
    width: calc(100vw - 344px);
    font-family: Helvetica;
    padding-left: 3vw;
    padding-right: 1vw;
    z-index: 9999;
  }

  .myheader-2 {
    display: flex;
  }

  .dateSection {
    background-color: white;
    height: 45px;
    margin: 1px;
    border: 0.5px solid #f2f2f2;
    font-weight: 500;
    font-family: Helvetica;
    font-size: 13px;
    line-height: 45px;
    padding-left: 1vw;
  }

  #shopify-section-header {
    display: none;
  }

  #leftarrow {
    position: fixed;
    left: 5%;
    top: 45%;
    border-color: #80808052;
    padding: 24px 28px;
    z-index: 991;
  }

  #rightarrow {
    position: fixed;
    right: 5%;
    top: 45%;
    border-color: #80808052;
    padding: 24px 28px;
    z-index: 991;
  }

  .imgcdn2 {
    height: 70px;
    width: 70px;
    margin-top: 3px;
  }

  /* For add animation */
  .add_button {
    max-width: 62px;
    white-space: nowrap;
    cursor: pointer;
  }

  .add_button.animated .text {
    white-space: nowrap;
    animation: 0.9s hide-show linear;
  }

  .add_button.animated .fa-plus {
    animation: 0.6s spin 1, 0.9s hide-show linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  .add_button .fa-check {
    opacity: 0;
    margin-left: -14px;
    transform: rotate(-45deg);
  }

  .add_button.animated .fa-check {
    animation: 0.6s spin-show linear;
  }

  @keyframes spin-show {
    0% {
      opacity: 0;
      margin-left: -8px;
      transform: rotate(-45deg);
    }

    25% {
      opacity: 1;
      margin-left: 0px;
      transform: rotate(-25deg);
    }

    50% {
      opacity: 1;
      margin-left: 8px;
      transform: rotate(0deg);
    }

    70% {
      opacity: 1;
      margin-left: 0px;
      transform: rotate(-25deg);
    }

    100% {
      opacity: 0;
      margin-left: -14px;
      transform: rotate(-45deg);
    }
  }

  @keyframes hide-show {
    0% {
      opacity: 1;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /* For add animation */

  .add_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
  }

  .add_button span:after {
    content: "\2713";
    position: absolute;
    opacity: 0;
    top: 0;
    right: 1vw;
    transition: 0.2s;
  }

  /*.add_button:active span {
    padding-right: 3vw;
  }
  
  .add_button:active span:after {
    opacity: 1;
    
  }*/

  .close {
    width: 2vw;
    font-size: 25px;
    cursor: pointer;
  }

  .imgdetailMini {
    width: 34%;
    height: 34%;
    padding: 1%;
  }

  .imgdetail {
    display: flex;
    padding: 2%;
    background-color: #f7f7f7;
    justify-content: space-evenly;
  }

  .tag {
    background-color: #b8ffce;
    border-radius: 12px;
    padding: 5px 7px;
    margin: 2px;
    font-family: Roboto;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .detailproduct {
    display: unset;
  }

  .popup .detailproduct {
    display: block;
    background-color: #f7f7f7;
    padding: 2%;
  }

  .popup .add_button {
    position: unset;
    margin-bottom: unset;
  }

  .headerproduct {
    display: unset;
  }

  .popup .headerproduct {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 2%;
    border-bottom: 1px solid #88888869;
    justify-content: space-between;
  }

  .headerproductleft {
    max-height: 3vh;
    padding-top: 10px;
    padding-right: 5px;
  }

  .popup .headerproductleft {
    width: 40vw;
    height: 20vh;
    max-height: unset;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding-top: unset;
  }

  /* .menu-dopweb-blur {
      background-color: rgb(191 191 191)!important;
      opacity: 0.5;
   
  }*/

  .titleproduct {
    display: block;
    font-weight: 400;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1rem;
    letter-spacing: 1px;
    color: #111409;
  }

  .popup .titleproduct {
    display: block;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 1.5rem;
    line-height: 1.625rem;
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase;
  }

  .headerproductright {
    display: none;
  }

  .popup .headerproductright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    align-items: flex-end;
  }

  .tags {
    display: none;
  }

  .popup .tags {
    display: flex;
    flex-direction: row;
    width: 80vw;
  }

  .imgbundle {
    min-height: 20vh;
    cursor: pointer;
  }

  .popup .subtitle {
    position: unset;
    padding-bottom: 1vw;
  }

  .popup .flex_cal {
    display: none;
  }

  .popup .hide {
    display: block;
  }

  .popup {
    background-color: #f7f7f7;
    position: fixed;
    top: 5vw;
    left: 21%;
    width: 60vw;
    height: 88vh;
    z-index: 5;
    -webkit-filter: unset;
    -moz-filter: unset;
    -o-filter: unset;
    -ms-filter: unset;
    filter: unset;
    border: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    overflow: scroll;
  }

  #main {
    padding: unset;
  }

  .container {
    margin: unset;
  }

  #shopify-section-announcement {
    display: none;
  }

  #shopify-section-footer {
    display: none;
  }

  .hide {
    display: none;
  }

  .img_cart {
    position: absolute;
    width: 70%;
    left: 11%;
    top: 0;
    display: none;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /*Fadeìnleft*/

  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-150px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-150px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  /*FadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }

    100% {
      opacity: 0;
      -webkit-transform: translateX(-150px);
    }
  }

  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(-150px);
    }
  }

  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }

  .info {
    padding: 5%;
    margin-top: 10vh;
  }

  .empty_meal_start {
    display: none !important;
  }

  .empty_meal {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-family: Helvetica;
    font-size: 1rem;
    line-height: 1.125rem;
    letter-spacing: 1.4px;
    color: #717171;
    text-transform: uppercase;
    padding-top: 2px;
    padding-bottom: 10%;
    margin-top: 1vh;
  }

  .separator {
    border-left: #80808080 solid 1px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .flex_cal {
    display: flex;
    font-size: 10px;
    line-height: 2vh;
    position: absolute;
    bottom: -4vh;
    width: 30%;
  }

  .subtitle {
    font-style: italic;
    font-weight: 400;
    font-family: Roboto;
    line-height: 0.9rem;
    letter-spacing: 1px;
    color: #666;
    padding-top: 2px;
    font-size: 13px;
  }

  .my_subtitle {
    padding-left: 1vw;
    height: 10vh;
    position: relative;
    top: 0vh;
    background-color: white;
  }

  .circle {
    border-radius: 32px;
    border: 1px solid #f2f2f2;
    background-color: #d9d9d9;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 6px;
    margin-right: 2vw;
  }

  .meal {
    background-color: #f2f2f2;
    width: 335px;
    padding: 2%;
    margin: 1%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .count_meal2 {
    display: flex;
    width: 335px;
    justify-content: space-evenly;
  }

  .count_meal3 {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
  }

  .count_meal {
    display: flex;
    display: none;
  }

  .gradient1 {
    height: 100%;
    background: linear-gradient(90deg, #111409 84%, #d9d9d9 84%);
  }

  .gradient2 {
    height: 100%;
    background: linear-gradient(90deg, #111409 68%, #d9d9d9 68%);
  }

  .gradient3 {
    height: 100%;
    background: linear-gradient(90deg, #111409 52%, #d9d9d9 52%);
  }

  .gradient4 {
    height: 100%;
    background: linear-gradient(90deg, #111409 36%, #d9d9d9 36%);
  }

  .gradient5 {
    height: 100%;
    background: linear-gradient(90deg, #111409 20%, #d9d9d9 20%);
  }

  .border_count {
    background-color: white;
    width: 120px;
    height: 7vh;
    position: relative;
    right: 0vw;
    bottom: 3vh;
    border-top-right-radius: 82px;
    border-top-left-radius: 82px;
  }

  .count_mealbis {
    padding-top: 1vh;
    display: flex;
    position: relative;
    right: -45px;
    height: 6vh;
    line-height: 4vh;
  }

  .next_button {
    margin-top: 2vh;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
    appearance: none;
    background-color: #111409;
    cursor: pointer;
    outline: none;
    height: 44px;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 4px;
    height: 40px;
    top: -33%;
  }

  .next_button:disabled {
    top: -33%;
    margin-top: 2vh;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 1.125rem;
    line-height: normal;
    letter-spacing: 2px;
    color: white;
    appearance: none;
    background-color: #d9d9d9;
    cursor: not-allowed;
    outline: none;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 4px;
    height: 40px;
    opacity: 1;
  }

  .next {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 12vh;
    width: 344px;
    border-left: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 344px;
  }

  .site-nav {
    margin: 0;
  }

  .page-container {
    position: unset;
    transform: unset;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .myimg {
    width: 120px;
    height: 80px;
    margin-top: 5px;
  }

  .my_title {
    display: none;
  }

  .my_title2 {
    font-style: italic;
    padding: 2%;
    width: 250px;
    font-weight: 500;
    font-family: Helvetica;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 1px;
    color: #333;
    text-transform: uppercase;
    margin: 0;
  }

  .add_button {
    max-width: unset;
    background-color: #111409;
    width: 6vw;
    height: 5vh;
    min-height: unset;
    color: White;
    text-align: center;
    line-height: 5vh;
    position: relative;
    left: 60%;
    font-size: 14px;
    border: none;

    outline-style: none;
    padding: unset;
    border-radius: unset;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    letter-spacing: unset;
    text-transform: unset;
  }

  .add_button2 {
    width: 4vw;
    height: 4vh;
    color: #111409;
    text-align: center;
    line-height: 4vh;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 7px 28px;
  }

  .small_img {
    flex-basis: 23%;
    align-self: end;
    margin-left: 2%;
    margin-bottom: 2%;
    border: 1px solid #ededed;
    box-shadow: 0 1px 0 0 #ededed;
    border-radius: 5px;
    cursor: pointer;
  }

  .small_img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .small_img2 {
    border: 1px solid #ededed;
    box-shadow: 0 1px 0 0 #ededed;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 2%;
    background-color: white;
    height: 90px;
    line-height: 10px;
  }

  .cart {
    background-color: #fafafa;
    border-left: 1px solid #d9d9d9;
    width: 344px;
    height: 91vh;
    position: fixed;
    top: 0px;
    right: 0;
    overflow: auto;
    max-width: 344px;
  }

  .cart2 {
    background-color: #fafafa;
    border-left: 1px solid #d9d9d9;
    width: 27vw;
    height: 66vh;
    position: fixed;
    top: 8vh;
    right: 0;
    overflow: auto;
  }

  .my_flex {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 8vh;
    padding-bottom: 2vh;
    height: 100%;
    width: calc(100vw - 344px);
  }

  .site-footer {
    display: none;
  }

  @media only screen and (min-width: 1500px) {
    .small_img {
      flex-basis: 18%;
    }

    .add_button {
      left: 50%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .small_img {
      flex-basis: 31%;
    }
  }

  @media only screen and (max-width: 991px) {
    .small_img {
      flex-basis: 48%;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .all_meals {
      padding-top: 47px;
    }

    .prod {
      padding-top: 20px;
    }

    .dateSection {
      top: 6vh;
      left: 0;
      padding-left: 15vw;
      position: absolute;
      width: 100%;
    }

    .myheader {
      display: none;
    }

    .myheader-mob {
      padding-left: 3vw;
      padding-right: 3vw;
      display: flex;
      justify-content: space-between;
      line-height: 44px;
      font-size: 19px;
      font-family: Helvetica;
      font-weight: bolder;
      border-bottom: 1px solid #dee2e6;
    }

    .fa-chevron-left {
      position: relative;
      right: -15px;
      font-size: 20px;
    }

    .fa-chevron-right {
      position: relative;
      left: -15px;
      font-size: 20px;
    }

    #leftarrow {
      left: -10%;
      padding: 20px 24px;
    }

    #rightarrow {
      right: -10%;
      padding: 20px 24px;
    }

    .headerproductleft {
      padding-top: unset;
      padding-right: unset;
    }

    .popup .titleproduct {
      margin-top: 10px;
    }

    .popup .subtitle {
      width: 55vw;
    }

    .popup .headerproductleft {
      width: 70vw;
    }

    .titleproduct {
      padding-left: 2vw;
    }

    .small_img:hover {
      box-shadow: unset;
    }

    /*.menu-dopweb-blur {
              background-color: transparent!important;
      opacity: unset;
   
  }*/

    .close {
      width: 6vw;
    }

    .imgdetailMini {
      padding: 5%;
      width: 100%;
    }

    .imgdetail {
      flex-direction: column;
      padding: unset;
    }

    .popup {
      top: 20vw;
      left: 3vw;
      height: 70vh;
      width: 94vw;
      z-index: 99;
    }

    .imgbundle {
      min-height: 14vh;
      cursor: none;
    }

    #menu-dopweb {
      margin: unset;
      padding: unset;
      height: 100vh;
    }

    .arrow {
      position: absolute;
      left: 12vw;
      top: 4px;
    }

    .arrow2 {
      margin-left: 38vw;
      position: unset;
      border-radius: 20px;
      padding-left: 11vw;
      padding-bottom: 0;
      margin-bottom: -15px;
      width: 25vw;
      height: 7vh;
      border: 1px solid #8080803b;
      border-bottom: none;
      padding-top: 0vh;
      background-color: white;
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
    }

    .arrowOff {
      display: none;
    }

    .scroll-arrow {
      width: 6px;
      height: 6px;
      transform: rotate(225deg);
      border-right: 2px solid #111409;
      border-bottom: 2px solid #111409;
      animation: arrow-wave 1s infinite;
      animation-direction: alternate;

      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          animation-delay: 0.1s * $i;
        }
      }
    }

    .scroll-arrow2 {
      transform: rotate(40deg);
    }

    @keyframes arrow-wave {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }

    .img_cart {
      position: absolute;
      width: 11%;
      left: 45%;
      top: 3px;
    }

    .border_count {
      display: none;
    }

    .next_button {
      width: 90vw;
      top: -8%;
    }

    .next_button:disabled {
      width: 90vw;
      top: -8%;
    }

    .cart2 {
      display: block;
    }

    .myimg {
      height: unset;
    }

    .my_title2 {
      width: 60vw;
    }

    .meal {
      width: 95vw;
      margin-left: 2vw;
    }

    .count_meal2 {
      width: 75vw;
    }

    .count_meal3 {
      width: 90vw;
    }

    .count_mealbis {
      display: none;
    }

    .count_meal {
      border-radius: 20px;
      padding-left: 10vw;
      display: flex;
      position: fixed;
      right: 38vw;
      bottom: 10vh;
      width: 25vw;
      height: 7vh;
      line-height: 5vh;
      border: 1px solid #8080803b;
      border-bottom: none;
      border-right: none;
      border-left: none;
      z-index: 9999999999;
      padding-top: 0vh;
      background-color: white;
      border-top-right-radius: 100px;
      border-top-left-radius: 100px;
      outline: none;
    }

    .count_meal_max {
      padding-left: 8vw;
    }

    .myflex_mobile2 {
      display: flex;
      width: 62vw;
      align-items: flex-end;
      height: 15vh;
    }

    .myflex_mobile {
      display: flex;
      flex-direction: column;
    }

    .my_subtitle {
      padding-left: 1vw;
      padding-right: 1vw;
      width: 42vw;
      height: 9vh;
      top: -5vh;
    }

    .flex_cal {
      font-size: 10px;
      line-height: 2vh;
      padding-left: 2vw;
      bottom: -4vh;
      width: 40%;
    }

    .subtitle {
      font-size: 11px;
      width: 40vw;
      padding-left: 2vw;
      margin-bottom: 2vh;
    }

    .my_title {
      width: 60vw;
      font-size: 10px;
      height: 2vh;
      line-height: 10px;
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      font-family: Helvetica;
      font-size: 0.8rem;
      line-height: 1rem;
      letter-spacing: 1.8px;
      color: #111409;
      padding-left: 3vw;
    }

    .add_button {
      width: 17vw;
      height: 4vh;
      line-height: 4vh;
      position: unset;
      font-size: 13px;
      margin-bottom: unset;
    }

    .main_content {
      padding-top: 6vh;
    }

    .imgcdn {
      width: 35%;
    }

    .imgcdn2 {
    }

    .small_img {
      display: flex;
      align-items: flex-end;
    }

    .my_flex {
      width: 100vw;
      height: 82vh;
      padding-top: 1vh;
      overflow: scroll;
      scroll-behavior: smooth;
      flex-flow: column;
      flex-direction: column;
      padding-right: 3vw;
      padding-bottom: 14vh;
    }

    .cart {
      display: none;
    }

    .cart2 {
      background-color: transparent;
      width: 100vw;
      position: fixed;
      top: 22vh;
      height: 66vh;
      z-index: 4;
      left: 0;
      overflow: auto;
    }

    .next {
      width: 100vw;
      z-index: 999999999;
      border: 1px solid #8080803b;
      max-width: unset;
    }

    .all_meals {
      background-color: #fafafa;
      border: 1px solid #d9d9d9;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
      height: 60vh;
      overflow: auto;
      margin-top: 8px;
      padding-bottom: 12vh;
    }

    .empty_meal {
      padding-top: 0;
    }
  }
</style>
<script>
  let productDetail = Object;
  let cart = JSON.parse(localStorage.getItem("cart") || "[]");
  let date = JSON.parse(sessionStorage.getItem("date") || "{}");
  let plan = sessionStorage.getItem("plan");
  if (!date) {
    window.location.href = "/pages/day";
  }
  if (!plan) {
    window.location.href = "/pages/plan";
  }
  count = cart.length;

  function alpineInstance() {
    return {
      show_support() {
        console.log("chat");
        const chat = document.getElementById("gorgias-chat-container");
        if (chat) {
          chat.style.display = "block";
        }
      },
      fecthData() {
        fetch("/collections/menu-individual/products.json")
          .then((response) => response.json())
          .then((data) => (this.products = data.products));
      },
      insert_to_cart(product) {
        const newProduct = JSON.parse(JSON.stringify(product));
        const index = this.cart.findIndex((obj) => obj.title === product.title);
        if (index === -1) {
          this.cart.push(newProduct);
        } else {
          this.cart.splice(index, 0, newProduct);
        }
        this.count++;
        localStorage.setItem("cart", JSON.stringify(this.cart));
      },
      add_to_cart(product, event) {
        if (event) {
          let el = event.target;
          if (el.tagName === "SPAN") {
            el = el.parentElement;
          }
          el.classList.add("animated");
          setTimeout(() => {
            el.classList.remove("animated");
            this.insert_to_cart(product);
          }, 800);
        } else {
          this.insert_to_cart(product);
        }
      },
      remove_from_cart(product) {
        this.cart = this.cart.filter((p) => p !== product);
        this.count--;
        localStorage.setItem("cart", JSON.stringify(this.cart));
      },
      openProductDetail(product) {
        this.isDialogOpen = true;
        this.productDetail = product;
      },
      openNextProductDetail(product) {
        const index = this.products.indexOf(product);
        if (index + 1 < this.products.length) {
          const next_product = this.products[index + 1];
          this.openProductDetail(next_product);
        } else {
          this.openProductDetail(this.products[0]);
        }
      },
      openPreviousProductDetail(product) {
        const index = this.products.indexOf(product);
        if (index - 1 >= 0) {
          const previous_product = this.products[index - 1];
          this.openProductDetail(previous_product);
        } else {
          this.openProductDetail(this.products[this.products.length - 1]);
        }
      },
      send_to_cart(plan_number) {
        const properties = {};
        properties["_deliveryDate"] = date;
        properties["Delivery Date"] = `${date.day}, ${date.month} ${date.date}`;
        //TODO: put in real zip code
        const zipcode = "90210";
        properties["_zipcode"] = zipcode;
        this.cart.forEach((product, index) => {
          properties["Product " + (index + 1)] = product.title;
        });
        properties["_ids"] = this.cart.map((product) => product.variants[0].id);
        const noteObject = {
          ids: this.cart.map((product) => product.variants[0].id),
          zipcode: "90210",
          date,
        };
        const titles = this.cart.map((product) => product.title).join(" / ");
        // const note = titles + " | " + JSON.stringify(noteObject);
        const note = JSON.stringify(noteObject);
        let formData = {};
        switch (plan_number) {
          case 4:
            formData = {
              items: [
                {
                  quantity: 1,
                  id: 39269021220951,
                  selling_plan: 407273559,
                  // properties,
                },
              ],
              note,
            };
            break;
          case 6:
            formData = {
              items: [
                {
                  quantity: 1,
                  id: 32497506877527,
                  selling_plan: 407240791,
                  // properties,
                },
              ],
              note,
            };
            break;
          case 10:
            formData = {
              items: [
                {
                  quantity: 1,
                  id: 39269025153111,
                  selling_plan: 407240791,
                  // properties,
                },
              ],
              note,
            };
            break;
          case 12:
            formData = {
              items: [
                {
                  quantity: 1,
                  id: 39269026431063,
                  selling_plan: 407240791,
                  // properties,
                },
              ],
              note,
            };
            break;
          default:
            console.log("Issue");
        }
        console.log(formData);
        fetch("/cart/add.js", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        }).then((response) => {
          console.log(response);
          localStorage.removeItem("cart");
          sessionStorage.removeItem("date");
          sessionStorage.removeItem("plan");
          window.location.href = "/cart";
        });
      },
      products: [],
      cart,
      count,
      show: true,
      show2: false,
      isDialogOpen: false,
      productDetail,
    };
  }
</script>
