<link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.2.0/dist/tailwind.min.css">

<div x-data="alpineInstance()">
    <div class="myheader">
        <div class="mylogo">
            <a href="/"> 
                <img src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/Dailycious-Logo-DarkGreen_180x.png?v=1616609191" alt="logo" />
            </a>
        </div>
        <div style="display: flex;flex-direction: column;justify-content: flex-end;line-height: 5vh;">
            <div id="myline">
                <span class="mypoint" style="background-color:#b5b35d">&nbsp;</span>
                <span class="mypoint"></span>
                <span class="mypoint"></span>
                <span class="mypoint"></span>
            </div>
            <div class="myheader-2">
                <div style="font-weight: bolder;color:#b5b35d">Plan</div>
                
                <div>Day</div>
               
                <div>Meals</div>
                
                <div>Cart</div>
            </div>
        </div>
        
        <div @click="show_support()" style="color:#3A6351" class="support">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
            Customer support</div>
    </div>
    <div class="myheader-mob">
        <div><a href="/"><i style="position:unset" class="fas fa-chevron-left"></i></a></div>
        <div style="color:#3A6351">Choose a Plan</div>
        <div style="color:#3A6351">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
    </div>
    <div class="mycontainer">
        <div class="first_part">
            
            <h2 id="titleplan" style="font-weight: 600;">Choose a plan</h2>
            <p id="descplan">Each meal is one serving, for one person, at one sitting.</p>
            <div class="my_flex">
                <div class="small_img"><img class="myimg"
                        src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/Box_1.png?v=1619194859"
                        alt="logo"></div>
                <div class="separator"></div>
                <div class="small_img"><img class="myimg"
                        src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/Box_2.png?v=1619194859"
                        alt="logo"></div>
                <div class="separator"></div>
                <div class="small_img"><img class="myimg"
                        src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/Food_1.png?v=1619204931"
                        alt="logo"></div>
            </div>
            <div id="mybackg42" style="z-index:1">
                <img style="width:60%;" src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/illustration_left.png?v=1619195231" alt="logo">
            </div>
            <div id="mybackg43" style="z-index:1">
                <img style="width: 60%; margin-left: 40%;" src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/illustration_right.png?v=1619195231" alt="logo">
            </div>
        </div>
        <div class="second_part">
            <div class="my_flex2">
                <div @click="savePlan(4)" class="small_plan">

                    <div class="mini">
                        <a href="/pages/day">
                        <img class="imgbanner"
                            src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/meals-plan-1.jpg?v=1619166167"
                            alt="logo">
                            </a>
                    </div>
                    <div class="small_plan_detail">
                        <a href="/pages/day">
                        <div class="desc2">
                            <h3>4</h3>
                            <h4>MEALS / WEEK</h4>
                        </div>
                        <h5 class="myprice">$15.99 / meal</h5>
                        <button @click="savePlan(4)" class="button_plan"><a
                                href="/pages/day">SELECT THIS
                                PLAN</a></button>
                                </a>
                    </div>
                    <div class="myhide">
                        <i class="fas fa-chevron-right"></i>
                    </div>


                </div>
                <div @click="savePlan(6)" class="small_plan">

                    <div class="mini">
                        <a href="/pages/day">
                        <img class="imgbanner"
                            src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/meals-plan-2.jpg?v=1619166167"
                            alt="logo">
                            </a>
                    </div>
                    <div class="small_plan_detail">
                        <a href="/pages/day">
                        <div class="desc2">
                            <h3>6</h3>
                            <h4>MEALS / WEEK</h4>
                        </div>
                        <h5 class="myprice">$13.49  / meal</h5>
                        <button @click="savePlan(6)" class="button_plan"><a
                                href="/pages/day">SELECT THIS
                                PLAN</a></button>
                                </a>
                    </div>
                    <div class="myhide">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div @click="savePlan(10)" class="small_plan">

                    <div class="mini">
                        <a href="/pages/day">
                        <img class="imgbanner"
                            src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/meals-plan-3.jpg?v=1619166167"
                            alt="logo">
                            </a>
                    </div>
                    <div class="small_plan_detail">
                        <a href="/pages/day">
                        <div class="desc2">
                            <h3>10</h3>
                            <h4>MEALS / WEEK</h4>
                        </div>
                        <h5 class="myprice myprice2">$11.99 / meal</h5>
                        <button @click="savePlan(10)" class="button_plan"><a
                                href="/pages/day">SELECT THIS
                                PLAN</a></button>
                                </a>
                    </div>
                    <div class="myhide">
                        <i class="fas fa-chevron-right"></i>
                    </div>

                </div>
                <div @click="savePlan(12)" class="small_plan">
                    <div class="mini">
                        <a href="/pages/day">
                        <img class="imgbanner"
                            src="https://cdn.shopify.com/s/files/1/0273/9368/7639/files/meals-plan-4.jpg?v=1619166167"
                            alt="logo">
                        </a>
                    </div>
                    <div class="small_plan_detail">
                        <a href="/pages/day">
                        <div class="desc2">
                            <h3>11.49</h3>
                            <h4>MEALS / WEEK</h4>
                        </div>
                        <h5 class="myprice myprice2">$11,5/ meal</h5>
                        <button @click="savePlan(12)" class="button_plan"><a
                                href="/pages/day">SELECT THIS
                                PLAN</a></button>
                    </a>
                            </div>

                    <div class="myhide">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="detail">
                <h5 style="font-weight: bolder;letter-spacing: .166rem;">SHIPPING ADDED AT CHECKOUT</h5>
                <p>Switch your dailycious plan, at any time.</p>
            </div>
        </div>
        <div class="faq_part">
            <h2 id="common">COMMON QUESTIONS</h2>
            <div id="flexfaq">
                <div class="faq_collumn">
                    <button @click="openFaq(0)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>   How long can you keep Dailycious meals in the fridge?</button>
                    <div x-show="activeFaq[0]" class="panel">
                        <p>Our meals are made fresh, and we don't use any chemical preservatives or artificial ingredients, so we recommend you store the meals in the fridge for no more than 7 days.</p>
                    </div>
        
                    <button @click="openFaq(1)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  Can I freeze my meals?</button>
                    <div x-show="activeFaq[1]" class="panel">
                        <p>We always recommend you enjoy your meals fresh, but you can place them in the freezer for up to 7 days after receipt and keep them frozen for up to 3 months.</p>
                    </div>
        
                    <button @click="openFaq(2)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  How do I heat up my meals?</button>
                    <div x-show="activeFaq[2]" class="panel">
                        <p>We do all the work so you have to do is reheat your meal in the microwave. On the back of each meal, you’ll find an easy step-by-step description for reheating the meal. Typically, the heating time is 3 minutes in the microwave or 20 minutes at 250°F in the oven.</p>
                    </div>
                    <button @click="openFaq(3)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  Where can I find the ingredients list and nutritional information for your meals?</button>
                    <div x-show="activeFaq[3]" class="panel">
                        <p>Very easy! To find out what ingredients we use, simply click on the desired meal on our website, while the nutritional facts can be found on the back label of your meal.</p>
                    </div>
        
                    <button  @click="openFaq(4)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  How long does it take for Dailycious meals to deliver?</button>
                    <div x-show="activeFaq[4]" class="panel">
                        <p>Depending where you are located, the delivery time will vary. However, it will be shipped in a way that keeps iit as fresh as possible.</p>
                    </div>
                </div>
                <div class="faq_collumn">
                    <button  @click="openFaq(5)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  How many people do Dailycious plans feed?</button>
                    <div x-show="activeFaq[5]" class="panel">
                        <p>Usually, each meal is an individual portion. You can choose to eat your meals for just lunch/dinner or both. Adjust the plan based on how many meals per day you wish to have.</p>
                    </div>

                    <button  @click="openFaq(6)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  What states does Dailycious deliver to?</button>
                    <div x-show="activeFaq[6]" class="panel">
                        <p>Dailycious delivers to California, Arizona, Nevada, Oregon, Washington, Utah, Colorado, Texas, Wyoming, and Montana.</p>
                    </div>

                    <button  @click="openFaq(7)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  Can I change my menu options each week after placing the first order?</button>
                    <div x-show="activeFaq[7]" class="panel">
                        <p>Absolutely! We offer a wide variety of meals and would love for you to try them all.</p>
                    </div>

                    <button @click="openFaq(8)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  Why is Dailycious better than other meal delivery options?</button>
                    <div x-show="activeFaq[8]" class="panel">
                        <p>Dailycious provides high quality, healthy, chef-prepared meals..</p>
                    </div>

                    <button  @click="openFaq(9)" class="accordion"><i class="fas fa-angle-down"></i><i class="fas fa-angle-up"></i>  Can I skip weeks if I sign up for a weekly subscription?</button>
                    <div x-show="activeFaq[9]" class="panel">
                        <p>Yes, you can skip as many weeks as you’d like!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    // var acc = document.getElementsByClassName("accordion");
    // var i;

    // for (i = 0; i < acc.length; i++) {
    //     acc[i].addEventListener("click", function () {
    //         this.classList.toggle("active");
    //         var panel = this.nextElementSibling;
    //         if (panel.style.display === "block") {
    //             panel.style.display = "none";
    //         } else {
    //             panel.style.display = "block";
    //         }
    //     });
    // }
    function alpineInstance() {
        let zipcode = localStorage.getItem('zipcode') ;
        if (!zipcode) {
            window.location.href="/pages/zipcode"
        }
        return {
            activeFaq: [false, false,false,false,false,false,false,false,false,false,],
            show_support() {
                console.log("chat");
                const chat = document.getElementById("gorgias-chat-container");
                if (chat) {

                    chat.style.display = "block";
                }
            },
            savePlan(number) {
                sessionStorage.setItem('plan', number);
            },
            openFaq(i) {
                const state = this.activeFaq[i];
                this.activeFaq = this.activeFaq.map(active => false);
                this.activeFaq[i] = !state;
            }
        }
    }
</script>

<style>
    .mypoint{
        width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 10px;
    }
    #myline{
        height: 1px;
        width: 30vw;
        display: flex; justify-content: space-between;
        background-color: black;
        align-items: center;
    }
    #mybackg42{
         position: absolute;
         left:0;
         bottom:0;
     }
     #mybackg43{
         position: absolute;
         right:0;
         bottom:0;
     }
    .faq_part{
        margin: 5%;
    padding: 3%;
    border: solid 1px #e4e4e4;
    }
    #descplan{
        font-size: 17px;
    font-weight: 500;
    margin-bottom: 1%;
    }
    #titleplan{
        color: #3A6351;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    padding: unset;
    margin-bottom: 2px;
    }

#gorgias-chat-container {
        display: none
    }
    .support{
        cursor: pointer;
    }
    /*remove minimal template css*/
    .wrapper{
        max-width: unset;
        margin:unset;
        padding:unset;
    }
    .myprice{
        text-align: center;
    }
    .myhide {
        display: none;
    }

    .desc2 {
        text-align: center;
        width: 23vw;
        padding-bottom: 2vh;
    }

    .mt-8 {
        margin-top: 3rem;
    }

    .answer {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .title_faq {
        font-weight: 500;
        font-size: 18px;
    }

    

    #common {
        text-align: center;
        padding-bottom: 4vh;
        font-size: 20px;
        font-weight: bolder;
    }

    

    .max-h-0 {
        max-height: 0;
    }

    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .button_plan {
        background-color: #3A6351;
        color: white;
        width: 85%;
        border-radius: 10px;
        margin-top: 3vh;
    }


    h1,
    h2,h5 {
        color:#3A6351;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: Helvetica;
        padding: 1%;
        
    }

    h3 {
        font-size: 3em;
    }

    .small_plan_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .small_plan {
        margin: 1vw;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        padding-bottom: 3vh;
        width: 18vw;
    margin: auto;
    }

    .small_plan:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mini {
        width: 100%;
    }

    .my_flex2 {
        display: flex;
        flex-direction: row;
        padding-top: 3vw;
        margin: auto;
    width: 80vw;
    margin-bottom: 2%;
    }

    .separator {
        border-bottom: solid 1px;
    width: 10vw;
    }

    .myimg {
        padding-left: 10px;
        padding-right: 10px;
    }

    .small_img {}

    .my_flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 55vw;
        z-index:2;
    }

    .first_part {
        padding-top: 5%;
    padding-bottom: 5%;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.5;
        background-color: #E4EADF;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;


    }

    .mycontainer {
        padding-top: 60px;
        width: 100vw;
        font-family: Helvetica;


    }

    .myheader-mob {
        display: none;
    }


    .header-arrow-nok {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        color: #8080807d;
    }

    .mylogo {
        width: 12%;
        position: relative;
        top: 17px;
        height: 35px;
        max-width: 200px;
    }

    .myheader {
        display: flex;
        position: fixed;
        top: 0;
        background-color: white;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
        line-height: 60px;
        height: 60px;
        width: 100vw;
        font-family: Helvetica;
        padding-left: 3vw;
        padding-right: 1vw;
        z-index: 9999;
    }

    .reading-width {
        margin-left: unset;
        margin-right: unset;
    }

    .content-main {
        padding: unset;
    }

    .container {
        margin-left: unset;
        margin-right: unset;
        max-width: unset;
        width: unset;
    }

    .myheader-2 {
        display: flex;
    justify-content: space-between;
    width: 32vw;
    position: relative;
    right: 11px;
    }

    #shopify-section-header {
        display: none;
    }

    #shopify-section-announcement {
        display: none;
    }

    .feature-page-title {
        display: none;
    }

    #shopify-section-footer {
        display: none;
    }

    #flexfaq{
        display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    }
    .accordion {
        
        background-color: #E4EADF;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 12px;
        transition: 0.4s;
        margin-bottom: 20px;
        font-weight: bold;
        border-radius:10px;
        padding-right: unset;
    }

  
    .accordion:hover, .accordion:focus{
        background-color: #3a6351;
        color:white;
    }

    

    .accordion:focus .fa-angle-down{
        color:white;
        display: none;
    }
    .accordion:focus .fa-angle-up{
        color:white;
        background-color: #3a6351;
        display: inline;
    }

    .fa-angle-up{
        display: none;
    }

    .panel {
        padding: 0 18px 18px 18px;
        display: block;
        background-color: white;
        overflow: hidden;
    }
    .faq_collumn{
        width: 49%;
    }

    @media only screen and (max-width: 768px) {

        /* For mobile phones: */
        .detail {
            margin-top:10%;
        }


        .my_flex {
            width: 90vw;
        }

        .first_part {
            padding: 5vw;
        }

        #titleplan {
            display: none;
        }

        .mycontainer {
            padding-top: 45px;
        }

        .myheader {
            display: none;
        }

        .myheader-mob {
            position: fixed;
            top: 0;
            width: 100vw;
            padding-left: 3vw;
            padding-right: 3vw;
            display: flex;
            justify-content: space-between;
            line-height: 44px;
            height: 44px;
            font-size: 19px;
            font-family: Helvetica;
            font-weight: bolder;
            border-bottom: 1px solid #dee2e6;
            background-color: white;
        }

        #descplan {
            text-align: center;
            margin-bottom: 2vh;
        }

        .second_part {
            padding: 5vw;
        }

        .mt-8 {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        #common {
            letter-spacing: 2px;
        }

        .my_flex2 {
            flex-direction: column;
        }

        .small_plan {
            display: flex;
            flex-direction: row;
            padding-bottom: unset;
            width: unset;
            margin: 1vw;
            
        }

        .small_plan_detail {
            width: 150%;
            padding-bottom: 4vw;
            padding-top: 4vw;
        }

        .button_plan {
            display: none;
        }

        .imgbanner {
            width: 120px;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            border-top-right-radius: 0;
            border-bottom-left-radius: calc(.25rem - 1px);
        }

        h3,
        h4 {
            display: inline;
        }

        h3{
            font-size:35px;
        }

        .desc2 {
            width: 45vw;
        }

        .myhide {
            display: block;
            padding-top: 15%;
            width: 25vw;
            font-size: 24px;
            text-align: center;
        }

        .myprice {
            width: 33vw;
        }

        .myprice2 {
            width: 28vw;
        }

        .accordion{
            font-size:12px;
            height: 8vh;
        }
        #flexfaq{
            flex-direction: column;
            padding-left: 5%;
        }
        .faq_collumn{
            width: 94%;

        }
        .accordion{
            padding: 10px;
        }
    }
</style>
