<div class="section-header">
  <h1 class="section-header--title">{{ page.title }}</h1>
</div>

<div class="rte">
  {{ page.content }}
  <div id="customer-portal-root"></div>
  <div x-data="alpineInstance()" x-init="getSubscriptionToken()">
    <!-- <template x-for="subscription in subscriptions" :key="subscription.bold_platform_subscription_id">
      <div>
        <p>Sub id: <span x-text="subscription.bold_platform_subscription_id"></span></p>
        <template x-for="line_item in subscription.line_items" :key="line_item.id">
          <div>
            <p>Subscription: <span x-text="line_item.product_name"></span></p>
          </div>
        </template>
        <p>Products: <span x-text="subscription.note"></span></p>
      </div> -->
  </div>
</div>

<script>
  function alpineInstance() {
    return {
      success: "not yet",
      test: "test alipine",
      jwt: "",
      customerId: "",
      boldCustomerId: "",
      accessToken: "",
      subscriptions: [],
      shopIdentifier: "",
      products: [],
      fecthData() {
        fetch("/collections/menu-individual/products.json")
          .then((response) => response.json())
          .then((data) => (this.products = data.products));
      },
      getSubscriptionToken() {
        this.fecthData();
        window.BOLD.subscriptions.getJWT((data) => {
          // handle data...
          console.log("data", data);
          this.success = data.success;
          if (this.success) {
            this.jwt = data.value.jwt;
            this.customerId = data.value.customerId;
            fetch(
              `https://sub.boldapps.net/api/customer/login?platform_customer_id=${this.customerId}&customer_jwt=${this.jwt}&shop_url=dailycious.com`
            )
              .then((response) => {
                if (response.ok) {
                  return response.json();
                }
              })
              .then((apiKeys) => {
                console.log("apiKeys", apiKeys);
                this.boldCustomerId = apiKeys.customer.bold_platform_id;
                this.accessToken = apiKeys.subscriptionsWebToken;
                this.getSubscriptions();
              });
          }
        });
      },
      authentifiedRequest(endpoint) {
        const headers = new Headers();
        headers.append("Authorization", `Bearer ${this.accessToken}`);
        headers.append("accept", "application/json");
        return fetch(
          `https://sub.boldapps.net/api/customer/${endpoint}?shop_url=dailycious.com`,
          { headers }
        )
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((data) => {
            console.log("data", data);
            return data;
          });
      },
      getSubscriptions() {
        this.authentifiedRequest(
          `customers/${this.boldCustomerId}/subscriptions`
        ).then((data) => {
          this.subscriptions = data.subscriptions;
          console.log("subs", this.subscriptions);
          this.subscriptions.forEach((sub, index) => {
            this.getSubscriptionInfo(
              sub.bold_platform_subscription_id,
              index
            ).then((data) => {
              console.log("DATA SUB", data);
              if (data && data.note) {
                sub.note = data.note;
                this.subscriptions = this.subscriptions.map((s) => {
                  if (
                    s.bold_platform_subscription_id ===
                    sub.bold_platform_subscription_id
                  ) {
                    return sub;
                  }
                  return s;
                });
              }
            });
          });
        });
      },
      getSubscriptionInfo(subscriptionId, index) {
        return this.getProducts(subscriptionId, index);
      },
      awsAPIRequest(endpoint, body) {
        console.log("BODY", body);
        return fetch(
          `https://8a99monbk5.execute-api.us-east-1.amazonaws.com/prod/${endpoint}`,
          {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            method: "POST",
            body: JSON.stringify(body),
          }
        )
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((data) => {
            console.log("data", data);
            return data;
          });
      },
      getProducts(subscriptionId, index) {
        console.log("subscriptionId", subscriptionId);
        return this.awsAPIRequest("getProducts", {
          subscriptionId,
          token: this.accessToken,
          shopUrl: "dailycious.com",
        }).then((res) => {
          const note = res.note;
          console.log("note", note);
          if (!note) {
            return undefined;
          }
          const parsedNote = JSON.parse(note);
          const products = parsedNote.ids;
          if (products && products.length) {
            setTimeout(() => {
              this.replaceProductDiv(subscriptionId, products, index);
              return note;
            }, 2000);
          }
        });
      },
      replaceProductDiv(subscriptionId, products, index) {
        const divs = document.querySelectorAll("div.details-section");
        console.log("divs", products, divs, index);
        const el = divs[index * 5 + 4];
        console.log("EL", el);
        if (el) {
          const elToReplace = el.querySelector("div");
          const template =
            products
              .map((id) => {
                const product = this.products.find(
                  (prod) => prod.variants[0].id === id
                );
                if (product) {
                  return `<p> ${product.title} </p>`;
                }
                return "";
              })
              .join(" ") +
            `<a href="/pages/change-subscription?subid=${subscriptionId}">
<button class="btn" style="margin: 20px 0px">
Update Products
</button>
  </a>`;
          elToReplace.outerHTML = template;
        }
        //
      },
    };
  }
</script>

<style>
  #customer-portal-root .subscription-header-details-container,
  #customer-portal-root .future-order-details-container {
    flex-basis: 100%;
  }
  .subscriptions-header-images-container,
  .future-order-images-container,
  .products-panel-wrap,
  .next-order-date-edit-resume-button,
  .bsub-link {
    display: none;
  }
  .section-header {
    padding-top: 80px;
    padding-left: 15px;
    max-width: 1200px;
    margin: auto;
  }
  .next-order-date-edit-resume-button {
    display: none;
  }
  .rte {
    max-width: 1200px;
    margin: auto;
  }
</style>
