<div id="customer-portal-root"></div>

<div x-data="alpineInstance()" x-init="getSubscriptionToken()">
  <p x-text="customerId"></p>
  <p x-text="jwt"></p>
  <p x-text="boldCustomerId"></p>
  <p x-text="accessToken"></p>
  <template x-for="subscription in subscriptions" :key="subscription.bold_platform_subscription_id">
    <div>
      <p>Sub id: <span x-text="subscription.bold_platform_subscription_id"></span></p>
      <template x-for="line_item in subscription.line_items" :key="line_item.id">
        <div>
          <p>Subscription: <span x-text="line_item.product_name"></span></p>
        </div>
      </template>
      <p>Products: <span x-text="subscription.note"></span></p>
    </div>
</div>

<script>
  function alpineInstance() {
    return {
      success: "not yet",
      test: "test alipine",
      jwt: "",
      customerId: "",
      boldCustomerId: "",
      accessToken: "",
      subscriptions: [],
      getSubscriptionToken() {
        window.BOLD.subscriptions.getJWT((data) => {
          // handle data...
          console.log("data", data);
          this.success = data.success;
          if (this.success) {
            this.jwt = data.value.jwt;
            this.customerId = data.value.customerId;
            fetch(
              `https://sub.boldapps.net/api/customer/login?platform_customer_id=${this.customerId}&customer_jwt=${this.jwt}&shop_url=dailycious.com`
            )
              .then((response) => {
                if (response.ok) {
                  return response.json();
                }
              })
              .then((apiKeys) => {
                console.log("apiKeys", apiKeys);
                this.boldCustomerId = apiKeys.customer.bold_platform_id;
                this.accessToken = apiKeys.subscriptionsWebToken;
                this.getSubscriptions();
              });
          }
        });
      },
      authentifiedRequest(endpoint) {
        const headers = new Headers();
        headers.append("Authorization", `Bearer ${this.accessToken}`);
        headers.append("accept", "application/json");
        return fetch(
          `https://sub.boldapps.net/api/customer/${endpoint}?shop_url=dailycious.com`,
          { headers }
        )
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((data) => {
            console.log("data", data);
            return data
          });
      },
      getSubscriptions() {
        this.authentifiedRequest(`customers/${this.boldCustomerId}/subscriptions`)
          .then((data) => {
            this.subscriptions = data.subscriptions;
            console.log("subs", this.subscriptions);
            this.subscriptions.forEach(sub => {
              this.getSubscriptionInfo(sub.bold_platform_subscription_id).then(data => {
                console.log("DATA SUB", data);
                sub.note = data.note;
                this.subscriptions = this.subscriptions.map(s => {
                  if (s.bold_platform_subscription_id === sub.bold_platform_subscription_id) {
                    return sub;
                  }
                  return s;
                });
              })

            })
          });
      },
      getSubscriptionInfo(subscriptionId) {
        return this.authentifiedRequest(`subscriptions/${subscriptionId}/orders`).then(data => {
          const orders = data.subscription_orders;
          const firstOrder = orders[0].order;
          const orderId = parseInt(firstOrder.platform_id, 10);
          return this.getProducts(orderId)
        })
      },
      awsAPIRequest(endpoint, body) {
        console.log('BODY', body);
        return fetch(`https://ok1v95fy85.execute-api.us-east-1.amazonaws.com/dev/${endpoint}`, {
          method: "POST",
          body: JSON.stringify(body)
        })
        .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((data) => {
            console.log("data", data);
            return data
          });
      },
      getProducts(orderId) {
        console.log('ORDER ID', orderId)
        return this.awsAPIRequest('getProducts', {
          orderId: orderId
        }).then(data => {
          console.log("products", data);
          return data;
        })
      }
    };
  }
</script>